*~
doconfig.sh
recomp.sh
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/.deps/
src/Makefile
src/Makefile.in
src/daccord
src/*.o
stamp-h1
src/computeintrinsicqv
src/lasdetectsimplerepeats
src/lasfilteralignments
src/lasfilteralignmentsborderrepeats
src/maftobam
src/bamidrename
src/generateperfectpiles
src/checklas
src/checkconsensus
src/sortfasta
src/mapconstoraw
src/fillfasta
src/canutolas
data
src/spikenoise
check.sh
prepare.sh
